/* ============= Animation background ========= */
.background {
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
}
.rowFinder{
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*background: #282c34;*/
    height: inherit;
}
.containerPost{
    /*margin: 20px;*/
    height: 93%;
    position: relative;

}
.containerFluid{
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #515BF4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) div {
    border-color: #FFF ;
}
.cube:nth-child(2) {
    animation-delay: 1s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 2s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 3s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 4s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    animation-delay: 5s;
    left: 50vw;
    top: 10vh;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}
.box {
    position: relative;
    padding-left: 40px;
}
.titlePosts {
    line-height: 40px;
    white-space: nowrap;
    position: absolute;
    right: 100%;
    transform-origin: top right 0;
    transform: rotate( 270deg );
    font-size: 60px;
    font-family: CustomFont, serif;
    padding-right: 30px;
}
.titleAnswers {
    color: #F64C67;
    line-height: 40px;
    white-space: nowrap;
    position: absolute;
    right: 100%;
    transform-origin: top right 0;
    transform: rotate( 270deg );
    font-size: 50px;
    font-family: CustomFont, serif;
    padding-right: 30px;
}

.scrollSection{
    /*display:table;*/
    background: #EDEDED;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    width: 100%;
}

.scrollIconDot{
    display:inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    background: cornflowerblue;
    height: .5em;
    width: .5em;
    top: .6em;
    margin-left: -.25em;
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll_2 2s ease-out infinite;
}


.scrollIcon {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    height: 3em;
    width: 1.5em;
    border: .25em solid cornflowerblue;
    border-radius: 1em;
}


@keyframes scroll_2 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        transform: translateY(.75em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}