@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.main {
    /*background-image: url('../../repo/banner_background.png');*/
    /*background-repeat: no-repeat;*/
    /*packground-position: center center;*/
    /*-fx-background-size: cover;*/
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;


}

.container {
    min-height:80%;
}


.col4 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.col8{
    height: 50%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

