.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
    /*width: 100%;*/
    /*padding: 30px;*/
    margin: 30px;
    position:relative;
    transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
}
.card:hover{
    cursor: pointer;
    transform: scale(1.02);
}